.slider {
   &__wrapper {
      width: 600px;
      margin: 100px auto;
   }

   &__container {
      overflow: hidden;
      background-color: pink;
   }

   &__track {
      display: flex;
      background-color: yellow;
      transition: 0.2s;
   }

   &__item {
      height: 100px;
      min-width: 200px;

      &:nth-child(3n + 1) {
         background-color: red;
      }
      &:nth-child(3n + 2) {
         background-color: green;
      }
      &:nth-child(3n + 3) {
         background-color: blue;
      }
   }

   &__buttons {
      text-align: center;
   }
}
